html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  width: fit-content;
}

body {
  box-shadow: -1px 0px 0px 0px var(--text-color) inset;
}

.box {
  display: flex;
  flex-flow: row;
  min-height: 100%;
}

#built-ins {
  border-right: none;
  padding: 0;
}

.box .header {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  padding: 5px;
  width: 70px;
}

.header::-webkit-scrollbar {
  display: none;
}

.box .content {
  flex: 1 1 auto;
}

#modules>iframe {
  border-style: hidden;
}

.header-button {
  color: var(--text-color);
  font-size: 20px;
  background: none;
  transition: 50ms;

  outline: 1px solid var(--text-color);
  border-radius: 10px;
  margin: 5px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  user-select: none;
  cursor: pointer;
}

.header>.header-button:hover {
  outline-color: var(--accent-color);
}

.module-icon {
  width: 36px;
  height: 36px;
  transition: 0.2s;
  pointer-events: none;
}


.svg {
  mask-size: cover;
  background-color: var(--text-color);
  width: 36px;
  height: 36px;
  mask-position: center;
  /* Set the mask image on the div */
  /* mask-image: url(...) */
}

